@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #222222;
  --color-bg: #fdfdfd;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Prevent image dragging ghost effect on buttons */
img { user-select: none; -webkit-user-drag: none; }